[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--violet-light);
}

.icon-sorting:before {
    content: "\e901";
}

.icon-filter:before {
    content: "\e902";
}

.icon-dollar:before {
    content: "\e903";
}

.icon-crown:before {
    content: "\e904";
}

.icon-question:before {
    content: "\e905";
}

.icon-diamond:before {
    content: "\e906";
}

.icon-menu:before {
    content: "\e907";
}

.icon-eye-slash:before {
    content: "\e908";
}

.icon-eye-close:before {
    content: "\e909";
}

.icon-eye-open:before {
    content: "\e90a";
}

.icon-minus:before {
    content: "\e90b";
}

.icon-plus:before {
    content: "\e90c";
}

.icon-close:before {
    content: "\e90d";
}

.icon-search:before {
    content: "\e90e";
}

.icon-shopping-bag:before {
    content: "\e90f";
}

.icon-profile:before {
    content: "\e910";
}

.icon-heart:before {
    content: "\e900";
}
